// Generating class using map
@each $key, $val in $colors{
    .text-#{$key}{
        color: $val;
    }
    .bg-#{$key}{
        background-color: $val;
    }
    // light variations
    @for $var from 1 to 9 {
        .text-#{$key}-light-#{$var}{
            color: mix( #ffffff, $val, $weight: $var * 10);
        }
    }
} 