@import './default';
@import './variables';
@function fweight($type)
{
    @return map-get($map: $font-thick, $key: $type );
}
@mixin name($direction) {
    display: flex;
    flex-direction: $direction;
}

body{
    width: 80%;
    margin: 0 auto;
    // using variable
    background-color: $primary-color;
    // calling maps
    font-weight: fweight(regular);
}

.container{
    // @include name(column);
    @include name(row);
    #{&}_paragraph{
        color: white;
       font: {
           size: 20px;
           family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       }
       &:hover{
           color: wheat;
           transition-delay: 0.5s;
       }
    }
    
}


