@import './default';
@import './variables';

@function fweight($type)
{
    @return map-get($map: $font-thick, $key: $type );
}
@mixin light_theme($light_theme:true) {
    @if $light_theme {
        background: lighten($color: $primary-color, $amount: 100%);
        color: darken($color: $text-color, $amount: 100%);
    }
}
@mixin name($direction) {
    display: flex;
    flex-direction: $direction;
}
@mixin mobile {
   @media (max-width: $mobile) {
       @content;
   }
}

body{
    width: 80%;
    margin: 0 auto;
    // using variable
    background-color: $primary-color;
    color: $text-color;
    // calling maps
    font-weight: fweight(regular);
}

.container{
    // @include name(column);
    @include name(row);
    #{&}_paragraph{
       
       font: {
           size: 20px;
           family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       }
       &:hover{
           color: wheat;
           transition-delay: 0.5s;
       }
    }
    @include mobile{
        flex-direction:column;
    }
    
}
.container2{
    @extend .container;
    #{&}_paragraph{
        @extend .container_paragraph;
        &:hover{
            color: chocolate;
        }
        &:last-child{
            color: red;
        }

    }
}
.light{
    @include light_theme(false);
}
$colors:(
    "primary": rgb(207, 18, 18),
    "secondary": rgb(29, 29, 156),
    "warning": rgb(212, 212, 46)
);
@import './color_generation';