// defining variable
$primary-color: yellow;
// maps
$font-thick: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);
*{
    width: 80%;
    margin: 0 auto;
}

body{
    // using variable
    background-color: $primary-color;
    // calling maps
    font-weight: map-get($font-thick, bold );
}

.container{
    #{&}_paragraph{
       font: {
           size: 20px;
           family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       }
    }
    
}


