@import './default';
@import './variables';
body{
    width: 80%;
    margin: 0 auto;
    // using variable
    background-color: $primary-color;
    // calling maps
    font-weight: map-get($font-thick, bold );
}

.container{
    #{&}_paragraph{
       font: {
           size: 20px;
           family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       }
    }
    
}


